anyio==3.4.0
certifi==2021.10.8
charset-normalizer==2.0.7
h11==0.12.0
httpcore==0.14.3
httpx==0.21.1
idna==3.3
jsonpatch==1.32
jsonpointer==2.2
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
Polygon3==3.0.9.1
PySocks==1.7.1
pyzmq==22.3.0
requests==2.26.0
rfc3986==1.5.0
scipy==1.7.2
six==1.16.0
sniffio==1.2.0
torch==1.10.0
torchaudio==0.10.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
typing_extensions==4.0.0
urllib3==1.26.7
visdom==0.1.8.9
websocket-client==1.2.1
websockets==10.1
